<h2 class="page-title">DM一覧</h2>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<table class="table">
			<% @anotherEntries.each do |entry| %>
				<% if entry.room.messages.any? %>
				<tr>
					<td>
						<%= link_to room_path(entry.room) do %>
							<%= attachment_image_tag entry.user, :image, :fill, 30, 30, format: "jpeg", fallback: "no_image.png", size: "30x30", class: "profile-image" %>
							<%= entry.user.name %>
						<% end %>
						<%= entry.room.messages.recently_updated.take.try(:content) %>
					</td>
				</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>