<div class="about-page-image">
	<h2 class="about-page-title">このサイトについて</h2>

	<div class="about-box">
		<p class="centerize">
			サイトを閲覧いただき、ありがとうございます。<br>
			このサイトはポートフォリオとして作成したものです。
		</p>
		<p class="about-text">
			旅行写真をアルバムごとに整理し、いつでも振り返られるようにしたい、<br>
			またその素晴らしい写真を他のユーザーにも共有したい、との思いから作成しました。<br>
			もちろん閲覧のみの利用も可能です。<br>
			公開されているアルバムを見て、ここに行きたい！と想いを馳せたり、<br>次の旅行先を選ぶ参考にされてはいかがでしょうか。<br><br>
			このサイトで出来ること：<br>
			・GoogleアカウントもしくはFACEBOOKアカウントでのログインを実装しています。<br>
			・フォトアルバムを作成し、旅行写真をアルバムごとに管理できます。<br>
			・アルバムは公開/非公開を設定可能です。<br>
			・公開されているアルバムは、渡航先ごとやランキング形式、検索によって閲覧できます。<br>
			・アルバムにはいいね/コメントをつけられます。<br>
			・他ユーザーにはDMやフォローができます。<br>
			・あなたと関連のある他ユーザーからのアクションは、あなたへ通知されます<br><br>
		</p>
	</div>
	</div>
</div>