<div class="homes-top-animation">
	<h1 class="homes-top-title">TravelManagerへようこそ!!</h1>
</div>
<div class="slider">
	<div class="slider-item slider-image1"></div>
	<div class="slider-item slider-image2"></div>
	<div class="slider-item slider-image3"></div>
</div><br>

<% if user_signed_in? == false && admin_signed_in? == false %>
	<div class="centerize">
		<%= link_to "ゲストログイン", users_guest_path, method: :post, class: "orange button" %>
		<a href = "https://github.com/syamozipc/TravelManager/blob/master/README.md" target="_blank" class="gray button"><i class="fab fa-github"></i>GitHubはこちら</a>
	</div>
	<p class="right-position"><%= link_to "管理者ログイン", new_admin_session_path %></p>
<% end %>