<h4>本当にアルバムを削除しますか？</h4>
<p>
	アルバムは削除せずに非公開にできます。<br>
	アルバムを削除した場合は、写真・コメント・いいねも同時に削除されます
</p>

<%= link_to "アルバム編集画面へ戻る", edit_album_path(@album), class: "btn btn-success" %>
<%= link_to "アルバムを削除する", album_path(@album), method: :delete, class: "btn btn-danger" %>