/*/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick-theme";
@import "slick";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "ヒラギノ丸ゴ ProN", "sans-serif";
}

.flex{
	display: flex;
	width: 100%;
	padding: 0 5%;
}

.flex-search{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.centerize{
	text-align: center;
}

.right-position{
	text-align: right;
	margin-right: 20px;
}

header{
	background-color: lightskyblue;
	height: 70px;
}

.nav{
	display: flex;
	justify-content: flex-end;
	margin: 0 40px;
}
.nav > :first-child{
	margin-right: auto;
}

.logo{
	color: white;
	font-size: 25px;
}

.header-list{
	list-style: none;
	display: inline-block;
	line-height: 70px;
	margin-right: 20px;
}

.slider{
	width: 50%;
	height: 400px;
	margin :0 auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.slider-item{
	width: 100%;
	height: 400px;
	text-align: center;
	background-size: cover;
}

.slider-image1{
	background-image: image-url('beach.png');
	background-position: center;
}

.slider-image2{
	background-image: image-url('album.png');
	background-position: top;
}

.slider-image3{
	background-image: image-url('like.png');
	background-position: bottom;
}

.slider-text1{
	padding-top: 320px;
	font-size: 18px;
}

.slider-text2, .slider-text3 {
	padding-top: 20px;
	font-size: 18px;
}

.slick-dots {
    li {
      font-size: 20px !important;
      button:before {
        content: "●" !important;
        font-size: 15px !important;
        color: rgb(60, 60, 60) !important;
      }
    }
 }

.button{
	padding:10px 15px;
	text-decoration :none;
	border-radius: 5px;
	color: #FFF;
	margin: 5px;
}

.blue{
	background-color: #87b9eb;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #6d95ce inset;
}

.green{
	background-color: #6eb750;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #4e7d17 inset;
}

.orange{
	background-color: #f3af4c;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #da8508 inset;
}

.gray{
	background-color: #a9a8a8;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #6f6c6c inset;
}

.search-form{
	list-style: none;
	display: inline-block;
	line-height: 20px;
	margin-right: 20px;
}

.new-button{
  position: fixed;
  top: 100px;
  right: 20px;
  display: inline-block;
  text-decoration: none;
  background: white;
  color: black;
  width: 60px;
  height: 60px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #a9a9a9;
  border-right:solid 1px #a9a9a9;
  border-left:solid 1px #a9a9a9;
  border:solid 1px #a9a9a9;
  font-size: 40px;
}

.like-button{
	position: fixed;
	top: 100px;
	right: 20px;
	font-size: 40px;
	color: red;
}

.chat-button{
	margin-left: 70px;
}

.rank-icon{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 12px;
  line-height: 30px;
  font-size: 18px;
  color: white;
  background: #FD9339;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}

.red-color{
	color: red;
}

.green-color{
	color: #1CD124;
}

.gold-color{
	color: #CBB935;
}

.yellow-color{
	color: #FFE016;
}

.gray-color{
	color: #6f6c6c;
}

.page-title{
	width: 40%;
	margin: 20px auto;
	text-align: center;
	padding: 0.5em;
	color: black;
	background-color: #FFEFC7;
	border-left: solid 5px #ffaf58;
}

.left-sidebar{
	width: 230px;
	margin: 30px 40px 20px 10px;
}

.profile-image{
	border-radius: 50%;
}

.albums-box{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	position: relative;
	margin-left: 30px;
}

.album{
	width: 230px;
	height: 300px;
	border-radius: 10px;
	text-align: center;
	margin: 30px 40px 20px 10px;
	background-color: #d6ebff;
	box-shadow: 0 0 0 10px #d6ebff;
	border: dashed 2px white;
	position: relative;
}

.album-title{
	margin-top: 50px;
	color: #505050;
	padding: 0.5em;
	display: inline-block;
	line-height: 1.3;
	background: #FAD783;
	vertical-align: middle;
	border-radius: 25px;
}

.album-title:before{
  content: '●';
  color: white;
  margin-right: 8px;
}

.icon-box{
	position: absolute;
	top: 150px;
	left: 10px;
}

.icon{
	margin: 0 10px;
	font-size: 18px;
}

.range-icon, .album-user{
	position: absolute;
	top: 200px;
	left: 30px;
}

.photo-box{
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	background-color: #d6ebff;
	box-shadow: 0px 0px 0px 10px #d6ebff;
	border: dashed 2px white;
	margin-left: 30px;
}

.photo{
	margin: 0 15px 30px 15px;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.photo-edit-box{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 10px;
	margin:0 auto 20px;
	background-color: #d6ebff;
	box-shadow: 0px 0px 0px 10px #d6ebff;
	border: dashed 2px white;
}

.photo-edit{
	width: 200px;
	height: 200px;
	margin: 0 25px 30px 5px;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.current-user-chat-box{
	flex-direction: row-reverse;
	width: 400px;
	margin: 0 0 30px 300px;
}

.chat-box{
	width: 400px;
	margin:0 0 30px 100px;
}

.chat-text{
	background-color: orange;
	padding: 10px;
	border-radius: 10px;
}

.current-user-chat-time{
	font-size: 12px;
	text-align: right;
}

.time-text{
	font-size: 12px;
}

.brank-height{
	margin-bottom: 30vh;
}

input[type=checkbox] {
  transform: scale(2);
}

footer{
	margin-top: 15px;
	padding: 15px 0;
	font-size: 15px;
	text-align: center;
	background-color:lightskyblue;
	color: white;
}
