<h2 class="page-title">フォロー中のユーザー</h2>
<div class="flex">
	<% @users.each do |user| %>
		<div class="follow_<%= user.id %>">
			<%= render 'public/users/user', user: user %>
		</div>
	<% end %>
</div>