<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h4>本当に退会しますか？</h4>
<p>あなたの投稿したアルバムは全て削除されます</p>
<%= link_to "マイページへ戻る", user_path(current_user), class: "blue button" %>
<%= link_to "退会する", users_withdraw_path, class: "gray button", data:{confirm: "本当に退会しますか？"}, method: :patch %>
	</div>
</div>