<div class="centerize top-brank">
	<h3>本当に退会しますか？</h3>
	<p>あなたの投稿したアルバム、写真、それらに紐づくコメントやいいねは全て削除されます。</p><br>
	<p><%= link_to "マイページへ戻る", user_path(current_user), class: "blue button" %></p><br>
	<p><%= link_to "退会する", users_withdraw_path, class: "gray button", data:{confirm: "本当に退会しますか？"}, method: :patch %></p>
</div>